<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galihpw.simak">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/upi"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileDosen"
            android:label="@string/prof_dosen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForumActivity"
            android:label="@string/title_activity_forum"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IsiForum"
            android:label="Isi Forum"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RekapAbsensi"
            android:label="Rekap Absensi"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MateriActivity"
            android:label="Materi"
            android:screenOrientation="portrait"/>
    </application>

</manifest>